i {
  font-size: 30px;
  margin: 0 3px 0 3px 
}

.player {
  background: #1d1c1a;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.player-center {
  margin: 0 10%;
  width: 40%;
}

.player-center p {
  color: rgba(244, 241, 241, 0.831);
  height: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center
}

.player-progress {
  display: flex;
  align-items: center;
}

.player-controller {
  color: rgba(145, 145, 145, 0.53);
  text-align: center;
  margin: 7px
}
.player-left {
  align-self: center;
  width: 100px;
  height: 90%
}

.player-left img{
  width: 100%;
  height: 100%;
}

.player-right {
  align-self: center;
}

.player-right i {
  font-size: 22px;
  color: rgb(70, 69, 69)
}

.progress {
  margin: 0 5px;
  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 5px;
  transition: height 0.3s;
  background: rgba(0,0,0,0.5);
  cursor: ew-resize;
}

.progress_filled {
  width: 50%;
  background: #ffc600;
  flex: 0;
  flex-basis: 0%;
}

.description {
  white-space: pre-wrap;
}

.episodes-list {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}

.episodes-list p {
  margin-top: 8px;
  color: rgba(172, 171, 171, 0.831)
}

.episode {
  text-align: center;
  width: 30%;
  margin-bottom: 25px; 
}

.episode a{
  text-decoration: none;
  color: rgba(244, 241, 241, 0.831)
}

.thumbnail {
  position: relative;
  margin-bottom: 15px;
}

.thumbnail i {
  font-size: 5rem;
  color: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-progress span {
  color: rgba(244, 241, 241, 0.831);
}