i {
  font-size: 30px;
  margin: 0 3px 0 3px 
}

.player {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center
}

.player-center {
  width: 40%;
}

.player-center p {
  text-align: center
}

.player-controller {
  text-align: center;
  margin: 7px
}

.progress {
  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 5px;
  transition: height 0.3s;
  background: rgba(0,0,0,0.5);
  cursor: ew-resize;
}

.progress_filled {
  width: 50%;
  background: #ffc600;
  flex: 0;
  flex-basis: 50%;
}